<h1>{{product.title}}</h1>

<p>{{product.description}}</p>
<p>Precio: ${{product.price}}</p>
<p>Categoría: {{product.category}}</p>

<button onclick="addToCart()">Agregar al carrito</button>

<script>
    const CART_ID = "PONÉ_TU_CART_ID_ACÁ";

    function addToCart() {
        fetch(`/api/carts/${CART_ID}/products/{{product._id}}`, {
            method: "POST"
        })
            .then(() => alert("Producto agregado 🛒"));
    }
</script>