<h1>Productos</h1>

<ul>
    {{#each products}}
    <li>
        {{this.title}} - ${{this.price}}
        <a href="/products/{{this._id}}">Ver detalle</a>
    </li>
    {{/each}}
</ul>

<div>
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">&larr; Anterior</a>
    {{/if}}

    Pagina {{page}} de {{totalPages}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Siguiente &rarr;</a>
    {{/if}}
</div>
