<h1>Productos</h1>

{{#if query}}
<p>Filtro aplicado: {{query}}</p>
{{/if}}

{{#if sort}}
<p>Orden por precio: {{sort}}</p>
{{/if}}

<ul>
    {{#each products}}
    <li>
        <h3>{{this.title}}</h3>
        <p>Precio: ${{this.price}}</p>

        <a href="/products/{{this._id}}">Ver detalle</a>

        <form action="/api/carts/{{../cartId}}/products/{{this._id}}" method="POST">
            <button type="submit">Agregar al carrito</button>
        </form>
    </li>
    {{/each}}
</ul>

<div>
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}{{extraQuery}}">&larr; Anterior</a>
    {{/if}}

    Pagina {{page}} de {{totalPages}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}{{extraQuery}}">Siguiente &rarr;</a>
    {{/if}}
</div>
